{% extends "layout.html" %}

{% block panels %}
	{% include 'hub.html' %}
	{% include 'messages.html' %}
{% endblock %}

{% block content %}
<h1>Добро пожаловать в Space Station 13!</h1>
<p>Станьте работником на научной космической станции в далёком космосе и попытайтесь пережить свою смену.</p>

<ul>
	<li><a href="#start">С чего начать</a></li>
	<li><a href="#ss13">О SS13</a></li>
	<li><a href="#tauceti">О Tau Ceti</a></li>
</ul>

<h2 id="start">С чего начать</h2>
<p>Скачайте и установите <a rel="nofollow" target="_blank" href="http://www.byond.com/download/">Byond</a>, создайте аккаунт, подключайтесь к серверу кликнув баннер вверху. Ознакомьтесь с <a target="_blank" href="https://wiki.taucetistation.org/Starter_Guide">Гайдом для начинающих</a> на нашей вики.</p>
<p>Если возникли проблемы - посмотрите список <a target="_blank" href="https://forum.taucetistation.org/t/topic/7864">возможных решений на форуме</a>, обратитесь в наш канал в дискорде <a rel="nofollow" target="_blank" href="https://discord.gg/pQCasvf">#pls_halp_me</a></p>

<h2 id="ss13">О Space Station 13</h2>

<!-- {% include 'image.html' with {'img': '/image/screen/screen6.png', title: 'Инженеры настраивают генератор', float: true} %} -->

<p>Космическая станция 13 - это многопользовательская, бесплатная ролевая игра-песочница, созданная и поддерживаемая сообществом энтузиастов на протяжении многих лет.</p>

<p>Вам предстоит окунуться в будни работника космической научно-исследовательской станции "Исход". Вам предстоит создать персонажа, выбрать одну из множества профессий, и, как бы странно это не звучало - выполнять свои обязанности.</p>

<!-- {% include 'image.html' with {'img': '/image/screen/screen3.png', title: 'Побег из научного отдела', float: true} %} -->

<p>Помимо условно мирных профессий в игре присутствуют и специальные роли, которые представляют прямую опасность вашей жизни, будь-то шпион вражеской корпорации с неблагоприятными для вас намерениями, или же нашествие пришельцев. В то же время, антагонистом можете стать и вы.</p>

<p>А возможно вам предстоит пережить метеоритный дождь или любое другое из множества случайных событий.</p>

<!-- {% include 'image.html' with {'img': '/image/screen/screen5.png', title: 'Кто-то устроил кампинг в парке', float: true} %} -->

<p>Какова цель игры, спросите вы? А её и нет. По своей сути, SS13 является своеобразной песочницей, и в подновляющем большинстве случаев, главной вашей задачей будет элементарное выживание, помимо необходимости выполнять задачи выбранной вами профессии. Или вы можете не работать, и с задором пойти умереть - выбор за вами.</p>

<p>Добро пожаловать на борт КСН "Исход"<span class="content__tooltipe" title="Прим.: Имя и префикс станции могут отличаться в зависимости от сервера/билда игры, так же как и расположение - от океанов до пустошей">*</span>! </p>


<h2 id="tauceti">Tau Ceti</h2>

<!-- {% include 'image.html' with {'img': '/image/screen/screen4.png', title: 'На станции в очередной раз что-то пошло не так', float: true} %} -->

<p>Мы являемся русскоязычным ответвлением от комьюнити Space Station 13, и на протяжении более 5 лет работаем над сообществом и своим билдом, стараясь предоставить максимальный комфорт игрокам.</p>
<p>В направлении сервера мы стараемся соблюдать баланс между серьезным отыгрышем и весёлыми безумными ситуациями, ведь всё хорошо в меру!</p>

<h3 id="tauceti_help">Помощь проекту</h3>

<ul>
	<li>Нам всегда нужны администраторы!</li>
	<li>Не менее администраторов нужны разработчики, спрайтеры, другие талантливые люди</li>
	<li>Вы можете помочь с работой над Вики</li>
	<li>Поддержать денежно проект можно через наш <a target="_blank" href="/patreon">Патреон</a></li>
</ul>

<h3 id="tauceti_links">Интересные ссылки</h3>

<ul>
	<li><a rel="nofollow" target="_blank" href="https://youtube.com/taucetistation">youtube.com/taucetistation</a> - Тау Кита на ютубе!</li>
	<li><a rel="nofollow" target="_blank" href="https://affectedarc07.github.io/SS13WebMap/TauCetiClassic/BoxStation/">affectedarc07.github.io/SS13WebMap/TauCetiClassic/BoxStation/</a> - альтернативная обновляемая карта станции от AffectedArc07</li>
	<li>У нас нет групп в соцсетях, но вам могут быть интересны: <br>
		<a rel="nofollow" target="_blank" href="https://vk.com/ss13ru">vk.com/ss13ru</a> <br> 
		<a rel="nofollow" target="_blank" href="https://vk.com/spessmen">vk.com/spessmen</a>
	</li>
</ul>

<h3 id="tauceti_commonLinks">Англоязычные ресурсы</h3>
<ul>
	<li><a rel="nofollow" target="_blank" href="https://www.reddit.com/r/ss13/">reddit.com/r/ss13/</a></li>
	<li><a rel="nofollow" target="_blank" href="https://spacestation13.com/">spacestation13.com</a></li>
</ul>
{% endblock %}
