{% extends "layout.html" %}

{% block content %}

<h2>Актуальные карты</h2>

<p>Карты, предоставленные от <a href="https://webmap.affectedarc07.co.uk/">AffectedArc07</a>:</p>
<ul>
	<li><a href="https://webmap.affectedarc07.co.uk/maps/tcc/box/">BoxStation</a></li>
	<li><a href="https://webmap.affectedarc07.co.uk/maps/tcc/gamma/">Gamma</a></li>
	<li><a href="https://webmap.affectedarc07.co.uk/maps/tcc/prometheus/">Prometheus</a></li>
	<li><a href="https://webmap.affectedarc07.co.uk/maps/tcc/falcon/">Falcon</a></li>
</ul>
<h2>Коллаж</h2>
<p>Новогодние компиляции за 2014-2017 годы:</p>
<ul>
	<li><a href="https://collage.taucetistation.org/#2017">2017</a></li>
	<li><a href="https://collage.taucetistation.org/#2016">2016</a></li>
	<li><a href="https://collage.taucetistation.org/#2015">2015</a></li>
	<li><a href="https://collage.taucetistation.org/#2014">2014</a></li>
</ul>
<h2>Архив</h2>
<ul>
	<li><a href="https://map-archive.taucetistation.org/#2017">2017</a></li>
	<li><a href="https://map-archive.taucetistation.org/#2016">2016</a></li>
	<li><a href="https://map-archive.taucetistation.org/#2015">2015</a></li>
	<li><a href="https://map-archive.taucetistation.org/#2014">2014</a></li>
</ul>

{% endblock %}
