<nav class="menu" id="menu">
	<span class="menu__switcher" id="menu__switcher">
		<img src='/image/burger-menu.svg'>
	</span>
	<ul class="menu__block">
		<li class="menu__button"><a href="https://forum.taucetistation.org">Форум</a></li>
		<li class="menu__button"><a href="https://wiki.taucetistation.org">Вики</a></li>
		<li class="menu__button"><a href="https://wiki.taucetistation.org/Rules">Правила</a></li>
		<li class="menu__button"><a href="https://map.taucetistation.org">Карта</a></li>
		<li class="menu__button"><a href="/">Информация</a></li>
	</ul>
	<ul class="menu__block menu__block_smallButtons">
		<li class="menu__button menu__button_small"><a href="https://discord.gg/YCWRjkb" title="Discord"><img class="menu__buttonIcon" src='/image/simpleicons/discord.svg?v=1'></a></li>
		<li class="menu__button menu__button_small"><a href="https://github.com/TauCetiStation/TauCetiClassic/" title="Github"><img class="menu__buttonIcon" src='/image/simpleicons/github.svg?v=1'></a></li>
		<li class="menu__button menu__button_small"><a href="/patreon" title="Patreon"><img class="menu__buttonIcon" src='/image/simpleicons/patreon.svg?v=1'></a></li>
	</ul>
</nav>
