<nav class="menu" id="menu">
	<span class="menu__switcher" id="menu__switcher">
		<img src='/image/burger-menu.svg'>
	</span>
	<ul class="menu__block">
		<li class="menu__button"><a href="#">Форум</a></li>
		<li class="menu__button"><a href="#">Вики</a></li>
		<li class="menu__button"><a href="#">Дискорд</a></li>
		<li class="menu__button"><a href="#">Правила</a></li>
		<li class="menu__button"><a href="/">Информация</a></li>
	</ul>
	<ul class="menu__block menu__block_smallButtons">
		<li class="menu__button menu__button_small"><a href="#" title="Discord"><img class="menu__buttonIcon" src='/image/simpleicons/discord.svg?Asd'></a></li>
		<li class="menu__button menu__button_small"><a href="#" title="Github"><img class="menu__buttonIcon" src='/image/simpleicons/github.svg'></a></li>
		<li class="menu__button menu__button_small"><a href="/patreon" title="Patreon"><img class="menu__buttonIcon" src='/image/simpleicons/patreon.svg'></a></li>
	</ul>
</nav>
